.alpha{
    list-style-type: lower-alpha;
}

.disk {
    list-style-type: disc;
}

.roman
{
    list-style-type: lower-roman;
}

.upper-alpha {
    list-style-type: upper-alpha;
}

.upper-roman {
   list-style-type: upper-roman;
}

.image {
    list-style-image: url(http://htmlbook.ru/files/images/css/icss_pseudo-class.png) ;
}